# Maven Build Output
target/
*.war
*.jar
*.zip
*.tar.gz

# IDE Specific Files
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.metadata/
.vscode/
.factorypath

# NetBeans Specific
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Local Servers & Tooling (Do not push heavy binaries to Git)
apache-maven-*/
apache-tomcat-*/

# System Files
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.swp
*~

# Local Scripts
kill_ports.sh
run.sh
